{% extends "home_emails/base.html" %}
{% block content %}
{% load crispy_forms_tags %}
{% if user.is_authenticated %}
<div class="form-style-6" >
    <h1>RUN A FILE</h1>
        <form action="{% url "e_selenium:e_selenium" %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy}}
            <input type="file"
                   title="Upload excel file"
                   name="excel_file"
                   class=" form-control-file"
                   value="please choose excel file"
                   required="required">
               
            <input type="submit"
        
                   value="RUN">
        </form>
        </div>

        <p></p>
        <hr>

        {% for row in excel_data %}
            {% for cell in row %}
                {{ cell }}&nbsp;&nbsp;
            {% endfor %}
            <br>
        {% endfor %}
{% else %}
  <h1> PLEASE LOG IN</h1>
  {% endif %}
{% endblock content %}